.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("Images/opti2.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  padding: 20vh;
  padding-left: 0;
  width: 100%;
  
}

body{
  margin: 0px;
  background-color: rgb(226, 226, 226);
}

.hero-text {
    width: 100%;
    color: white;
    text-align: center;
  }

  nav{
    width: 100%;
    text-align: center;
  }


  ul{
     padding-left: 0px;
  }
  a{
      
      border-style: solid;
      border-color: white;
      color: white;
      background: none;
      padding-left: 5vw;
      padding-right: 5vw;
      padding-top: 1vh;
      padding-bottom: 1vh;
      font-size: 13pt;
      text-decoration: none;
  }

  a:hover{
    background-color: rgba(0, 0, 0, 0.8);

  }

  article{
    border-style: solid;
    border-color: darkgrey;
    background-color: cyan;

    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  article>p{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  
  }

  .present{
    background-color: rgba(255, 255, 255, 0.3);
  }

  h1{
    text-align: center;
  }

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption{
  text-align: center;
}


